<a href="https://colab.research.google.com/github/yooste/SOLUX_summer_data/blob/master/1%EC%A3%BC%EC%B0%A8/pandas_chap04_0725.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
friends = [{'name': 'Jone', 'age': 20, 'job': 'student'},
           {'name': 'Jenny', 'age': 30, 'job': None},
           {'name': 'Nate', 'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(friends)
df = df[['name', 'age', 'job']]
df.head()

    name  age      job
0   Jone   20  student
1  Jenny   30     None
2   Nate   30  teacher

In [6]:
df.to_csv('friends.csv', index = False, header = True, na_rep = '-')   # 디폴트로 index와 header가 True로 설정되어 있음
# na_rep는 None 값에 대한 처리를 나타냄. na_rep = '-'은 None값을 '-'로 표현하겠다는 뜻